{% extends 'base.html' %}
{% block body %}
<body>
    <main>
      <section>
        <h2>About Us</h2>
        <p>My School is a private school located in the heart of the city. We offer a wide range of academic programs, extracurricular activities, and athletic programs for students of all ages.</p>
      </section>
      <section>
        <h2>Academics</h2>
        <p>Our academic programs are designed to challenge students and prepare them for success in college and beyond. We offer classes in math, science, English, social studies, and more.</p>
      </section>
      <section>
        <h2>Admissions</h2>
        <p>If you're interested in applying to My School, please visit our admissions page for more information about the application process, requirements, and deadlines.</p>
      </section>
      <section>
        <h2>Contact Us</h2>
        <p>My School is located at 123 Main Street. You can reach us by phone at 555-555-5555 or by email at info@myschool.com.</p>
      </section>
    </main>
</body>
{% endblock %}